.dub
__*
*.sublime-project

*.a
web
.generated

bench/Mt19937_bench

*.o

bench/Mt19937_32
dub.selections.json

mir-random-test-library
docs.json
build/
_build_dir_/
*.exe
*.lib
mir-random-test-default
subprojects/*/
docgen
.DS_Store
