#Ignore built library
libcairod.a

#Ignore object files
*.o

#Ignore example binaries
example/*/main

#Ignore example output
example/*/*.svg
example/*/*.png

#Ignore generated html docs
doc/generated/*.html
