#Ignore built library
libcairod.a
libcairod.lib

#Ignore object files
*.o

#Ignore core files
core

#Ignore example binaries
example/*/main

#Ignore example output
example/*/*.svg
example/*/*.png

#Ignore generated html docs
doc/generated/*.html
