sudo: false

os:
 - linux
 - osx

language: d

d:
 - dmd
 - ldc

env:
 - ARCH="x86_64"

matrix:
  include:
    # - {os: linux, d: dmd-2.071.2, env: ARCH="x86", addons: {apt: {packages: [[gcc-multilib]]}}}
    - {os: linux, d: ldc, env: ARCH="x86", addons: {apt: {packages: [[gcc-multilib]]}}}
    - {os: linux, d: gdc, env: ARCH="x86_64"}
  allow_failures:
    - {d: dmd-nightly}
    - {d: ldc-beta}
    - {d: gdc}

branches:
  only:
    - master
    - stable

install:
    - |
      if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then
        curl -L "https://github.com/ninja-build/ninja/releases/download/v1.7.2/ninja-linux.zip" -o ninja-linux.zip
        sudo unzip ninja-linux.zip -d /usr/local/bin
        sudo chmod 755 /usr/local/bin/ninja
        sudo add-apt-repository -y ppa:deadsnakes/ppa
        sudo apt-get -y update
        sudo apt-get -y install python3.6
        curl https://bootstrap.pypa.io/get-pip.py | sudo python3.6
        sudo pip3 install meson
      fi

packages:
  - pkg-config

script:
 - echo "$ARCH"
 - dub build --arch "$ARCH"
 - ls
 - dub --arch "$ARCH" --single report.d
 - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then meson build && cd build && ninja -j4 && ninja -j4 test -v && cd ..; fi # TODO: 32bit meson test

after_success:
 - bash <(curl -s https://codecov.io/bash)
