language: d

os:
  - osx
  - linux

matrix:
  allow_failures:
    - os: linux

d:
 - ldc-1.2.0-beta2
 - ldc-1.1.0
 - ldc-1.0.0
 - dmd-beta

script:
  - dub test --compiler=${DC} -a x86
  - dub test --compiler=${DC}