name: CI

on:
  push:
    branches:
    - master
  pull_request:
    branches:
    - master
  workflow_dispatch:
    # allow this workflow to be triggered manually

jobs:
  test_asan:
    name: 'Run unittests with AddressSanitizer'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up D compiler / tools
        uses: dlang-community/setup-dlang@v1.1.0
        with:
          compiler: ldc-latest
      - name: Run unittests
        run: |
          echo 'dependency "msgpack-d" version="*"' >> dub.sdl
          dub test -c asan-unittest --compiler=ldc2
  builder:
    name: 'Build and test on ${{ matrix.arch }}-${{ matrix.os }}/${{ matrix.dc }}'
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ contains(matrix.dc, 'master') || contains(matrix.dc, 'beta') }}
    env:
      ARCH: ${{ matrix.arch }}
    strategy:
      fail-fast: false
      matrix:
        dc: [ldc-latest, ldc-beta, dmd-latest, dmd-master, dmd-beta]
        os: [ubuntu-latest, windows-latest]
        arch: [x86, x86_64]
        include:
          - dc: ldc-latest
            os: macos-latest
            arch: x86_64
          - dc: dmd-latest
            os: macos-latest
            arch: x86_64
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: dlang-community/setup-dlang@v1.1.0
        with:
          compiler: ${{ matrix.dc }}
      - name: Install multi-lib for 32-bit systems
        if: matrix.arch == 'x86' && matrix.os == 'ubuntu-latest'
        run: sudo apt-get install gcc-multilib
      - id: build
        name: Test building
        run: dub test --arch=$ARCH --build=unittest-cov
        shell: bash
      - id: coverage
        uses: codecov/codecov-action@v2